
@page "/portfolio"
@using Tiptup300.DeweeseDotDev.Portfolio.Projects
@inject IMediator _mediator
@inject ILogger _logger

@code {
    private IReadOnlyList<Project> _projects = new Project[0];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await _mediator.Resolve
                <GetProjectsByPagination.Request,
                GetProjectsByPagination.Response>
            (
                new GetProjectsByPagination.Request(
                    PageNumber: 0,
                    PageSize: 10,
                    DeweeseDotDev.Portfolio.Resolvers.GetProjectsByPagination.SortOrder.DateAsc
                )
            );
            _projects = response.Projects;
        }
        catch (Exception ex) {
            _logger.LogError(() => $"Error getting Projects: {ex.Message}", ex);
        }
    }

    private string getProjectLink(Project project) => $"/portfolio/{project.ProjectId}";
}
<PageTitle>My Portfoilo</PageTitle>
<!------------------------------------------------------------------------------------------------->
<h3 class="mb-4">Portfolio</h3>
<div class="container">
    <div class="row g-4">

        @foreach (var project in _projects)
        {
            <div class="col-md-4 col-sm-6">
                <NavLink href="@getProjectLink(project)" class="text-decoration-none text-dark">
                    <div class="card shadow-sm h-100">
                        @if (project.PrimaryFigure is ImageFigure primaryImageFigure)
                        {
                            <div class="ratio ratio-4x3">
                                <img src="@(primaryImageFigure.Uri)"
                                     class="card-img-top rounded-top object-fit-cover"
                                     alt="@(primaryImageFigure.Caption)"
                                     onerror="this.onerror=null;this.src='/assets/image_not_found.gif';">
                            </div>
                        }
                        else
                        {
                            <div class="card-img-top bg-secondary ratio ratio-4x3">
                            </div>
                        }
                        <div class="card-body">
                            <h5 class="card-title">
                                @project.Title
                            </h5>
                            <p class="card-text small">
                                @((MarkupString)project.Description)
                            </p>
                        </div>
                    </div>
                </NavLink>
            </div>
        }
    </div>
</div>
